{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Event Details</h3>
<!-- add icons -->
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_details') }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="event_name" name="event_name" type="text" minlength="3" maxlength="50" class="validate"
                    required>
                <label for="event_name">Name your Event</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" name="first_name" minlength="3" maxlength="25" type="text" class="validate"
                    required>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" name="last_name" type="text" minlength="3" maxlength="25" class="validate"
                    required>
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" minlength="3" maxlength="25" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="wedding_date" name="wedding_date" type="text" class="datepicker validate" required>
                <label for="wedding_date">Event Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="venue" name="venue" type="text" minlength="3" maxlength="25" class="validate" required>
                <label for="venue">Venue</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="start-time" name="start-time" type="text" class="timepicker validate" required>
                <label for="start-time">Start Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class=""></i>
                <input id="end-time" name="end-time" type="text" class="timepicker validate" required>
                <label for="end-time">End Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="event-content" name="event-content" class="materialize-textarea" required></textarea>
                <label for="event-content">Is there anything else special happening that we need to know about?</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn" type="submit" name="action">Submit
                    <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}