@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Open-Sans, sans-serif;
  background-image: url("/static/images/watercolor-green.jpg");
  color: #112A46;
}

@media only screen and (max-width: 1100px) {
  .brand-logo {
    display: none;
  }
}

@media only screen  and (min-width: 300px) {
  nav .brand-logo {
    font-size: 1rem;
    letter-spacing: normal;
  }
  h3 {
    font-size: 2rem;
  }
}

.small-bridge {
  height: 60px;
  width: 100px;
  padding-top: 5px;
  padding-left: 1rem;
}

p {
  font-size: 1.25rem;
}

main {
  flex: 1 0 auto;
  padding-top: 5%;
}

nav {
  text-transform: uppercase;
  letter-spacing: .2em;
  background-color: white;
  padding-top: 1rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

nav .brand-logo,
nav ul li a {
  color: #112A46;
  padding-left: 1rem;
}

.flashes h4 {
  line-height: 2;
}
/* .text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
} */

.social-media li {
  display: inline-block;
}

/* not working */
.page-footer {
  background-color:#E3FEEF;
  color: #112A46;
}

footer li i {
  padding-right: 1rem;
  color:#112A46;
}

.page-footer .footer-copyright {
  color: #112A46;
}

/* login page */

form label {
  padding-top: 1rem;
}

.hidden {
  display: none;
}

.login {
  padding-top: 7%;
}